.card {
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 230px;
    height: auto;
    padding: 1%;
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cardImage {
    width: 40px;

}

.cardInfoBox {
    display: flex;
    flex-wrap: wrap;
}

.cardInfo {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.expText {
    font-size: small;
    font-weight: 300;
}