.intFive {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.intSix {
    display: flex;
    flex-wrap: wrap;
    font-size: 3.5em;
    justify-content: center;
}

.intSeven {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
}

.intEight {
    display: flex;
    justify-content: center;
}

.intEleven {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 128px;
}

.intEleven img {
    width: 100%;
}